

html{
  font-size: 62.5%;
  box-sizing: border-box;
}

body{
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

#root{
  height: 100%;
}

.grid-container{
  display: grid;
  grid-template-areas: 'header' 'main' 'footer';
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
}
/*header*/
header{
  grid-area: header;
  background-color: #C70039;
  
}

main{
  grid-area: main;
  padding: 1rem;
}

footer{
  grid-area: footer;
  background-color: black;
  color: white;
}

/* common */

a{
  text-decoration: none;
}
a:hover{
  color: tomato;
}

ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li{
  margin-top: 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
 
}
input,
textarea,
button{
  padding: 1rem;
  border-radius: 00.5rem;
  border: 0.1rem solid black;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button{
  background-color: black;
  color: #FBF8F7;
  cursor: pointer;
}



h1{
  font-size: 1.8rem;
 padding: 1rem 0;
}

h2{
  font-size: 1.6rem;
 padding: 1rem 0;
}

header a{
  color: white;
  padding: 1rem;
}

/*header*/

a.brand{
  color: white;
  font-size: 3rem;
  font-weight: bold;
}

.badge{
  background-color: black;
  color: white;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}
.row.center{
  justify-content: center;
}

/*image*/

img{
  border-radius: 0.5rem;
}
img.small{
  max-width: 5rem;
  width: 100%;
}
img.medium{
  max-width: 29rem;
  width: 100%;
}

/*card*/

.card{
  border: 0.1rem solid black;
  border-radius: 0.5rem;
  margin: 1rem;
  background-color: #FBF8F7;
}

.card-body{
  padding: 1rem;
}

.card-body > *{
  margin-bottom: 0.5rem;
}

.price{
  font-size: 2rem;
}

.rating span{
  color: black;
  margin: 0.1rem;
}

.rating span:last-child{
  color: darkslategrey;
}

.row.top{
  align-items: flex-start;
}

.col-1{
  flex: 1 1 25rem;
}

.col-2{
  flex: 1 1 1rem;
}

.col-2.cart-screen{
  margin-left: 100px;
  width: 40%;
}

.ccart{
  width: 40%;
  margin-top: 40px;
}

.min-30{
  min-width: 30rem;
}
/*alert*/
.success{
  color: green;
}
.danger{
  color: red;
}

.alert{
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info{
  color: blue;
  background-color: lightgray;
}

.alert-danger{
  color: red;
  background-color: lightgray;

}
/*button*/
button.block{
  width: 100%;
}

input:hover,
textarea:hover,
button:hover{
  background-color: #C70039;
}

select:hover{
  background-color:black;
  color: #FBF8F7;
}

option{
  background-color: white;
  color: black;
}